<ion-header>
  <ion-toolbar class="toolbar-background-color">
    <ion-button (click)="back()" fill="clear">
      <ion-icon slot="start" name="arrow-back-outline" size="large" style="color: rgb(8, 85, 85) !important;">
      </ion-icon>
    </ion-button>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>

    <ion-card *ngFor="let item of shoppingList"
      (click)="viewModal(item)" style="background-color: rgb(252, 243, 231);">

      <ion-card-header>
        <ion-card-subtitle>{{item.itemName}}
          <ion-icon *ngIf="item.checked != true" style="float:right" name="square-outline"></ion-icon>
          <ion-icon *ngIf="item.checked == true" style="float:right" name="checkbox-outline"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>

  </ion-list>


</ion-content>