<ion-header>
  <ion-toolbar class="toolbar-background-color">
    <ion-button (click)="back()" fill="clear">
      <ion-icon slot="start" name="arrow-back-outline" size="large" style="color: rgb(8, 85, 85) !important;">
      </ion-icon>
    </ion-button>
    <ion-title *ngIf="currentSupermarket != null">{{currentSupermarket.supermarketName}}<br />Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-segment scrollable="true" value="category">
      <ion-segment-button value="category" (click)="categoryView()">
        <ion-label>Categories</ion-label>
      </ion-segment-button>

      <ion-segment-button value="search" (click)="searchView()">
        <ion-label>Search</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card *ngIf="!searchViewMode">
      <ion-list *ngFor="let c of categories">

        <ion-item-divider color="secondary">
          <ion-label>
            <h2>
              <b>
                {{c.categoryName}}
              </b>
            </h2>
          </ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let item of c.items">

          <ion-thumbnail slot="start" >
            <img src="{{resourcePath+item.imagePath}}">
          </ion-thumbnail>
          
          <ion-label>
            <h2><b>{{item.itemName}}</b></h2>
            <h2>{{getCurrency(item.itemPrice)}}</h2>
            <p>
              {{item.description}}
            </p>
  
          </ion-label>
          <ion-icon slot="end" name="add-circle-outline" (click)="addItemToShoppingList(item)"></ion-icon>
        </ion-item>




      </ion-list>

    </ion-card>


    <ion-card *ngIf="searchViewMode">
      Search Mode

    </ion-card>


  </ion-card>
</ion-content>