<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: rgb(109, 173, 173); color: rgb(5, 61, 61);">Item Navigation</ion-title>
    <ion-button color="dark" slot="end" (click)="dismissModal()" fill="clear" stlye="background-color: rgb(5, 61, 61);">
      <ion-icon slot="icon-only" name="close-outline" style="color: rgb(5, 61, 61);"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="box-shadow: none !important;">
    <ion-card-content style="font-weight: bold; color: rgb(21, 130, 138);">
      {{currentItem.itemName}}
      <br />
      Quantity: {{ currentItem.itemQuantity }}
      <br />
      Description: {{ currentItem.itemDescription }}
    </ion-card-content>
  </ion-card>

  <img src="{{imagePath}}">

  <div style="text-align: center;">
      <ion-icon (click)="prevItem()" slot="icon-only" name="caret-back-outline" style="color: rgb(5, 61, 61); float:left" class="icon"></ion-icon>
    
      <ion-icon *ngIf="!currentItem.checked" (click)="checkCurrentItem()" slot="icon-only" name="square-outline" style="color: rgb(5, 61, 61);" class="icon"></ion-icon>

      <ion-icon *ngIf="currentItem.checked" slot="icon-only" name="checkbox-outline" style="color: rgb(5, 61, 61);" class="icon"></ion-icon>
  
      <ion-icon (click)="nextItem()" slot="icon-only" name="caret-forward-outline" style="color: rgb(5, 61, 61); float: right" class="icon"></ion-icon>

  </div>

</ion-content>