<!-- <ion-header>
  <ion-toolbar>
    <ion-title>QuickShop</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="margin-top: 30%;">
    <img style=" margin-top: 5px;" src="../../assets/logo.png" alt="QuickShop Logo" />

    <ion-card style="box-shadow: none !important;">
      <ion-card-header>
        <ion-card-title style="color: rgb(8, 85, 85);">Customer</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button (click)="checkIn()" expand="block" size="large"
          style="--background: rgb(18, 189, 189) !important; --background-activated: rgb(18, 189, 189) !important;">
          Check-in
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card style="margin-top: 35px !important; box-shadow: none !important;">
      <ion-card-header>
        <ion-card-title style="color: rgb(8, 85, 85);">Employee</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block"
          style="--background: rgb(18, 189, 189) !important; --background-activated: rgb(18, 189, 189) !important;">
          Login
        </ion-button>
      </ion-card-content>
    </ion-card> -->
  </div>

</ion-content>